html, body {
    background-color: #000000 !important;
    color: rgba(255, 255, 255, .87);
    font-family: Roboto, sans-serif;

    overflow: hidden;

    width: 100%;
    height: 100%;
    margin: 0;
}

#sandbox {
    position: absolute;
    top: 0;
    left: 0;

    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;

    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

#perfOverlay {
    z-index: 1;

    position: absolute;

    top: 70px;
    left: 30px;

    opacity: 0.5;
}

#info {
    z-index: 999;

    position: absolute;
    top: 0;
    left: 0;

    padding: 20px;

    width: calc(100% - 40px);

    font-size: 16px;

    opacity: 0.5;

    user-select: none;
}

#info div:first-child {
    margin-right: 0;
}

#info > div {
    margin-right: 5%;
    float: right;

    text-align: right;
}

select {
    color: rgba(255, 255, 255, .95);
    background-color: transparent;
}

option {
    background-color: black;
    color: rgba(255, 255, 255, .95);
}

@media only screen and (max-width: 700px) {
    #info > div {
        clear: both;
        margin-right: 0;
    }
}